*{
    margin: 0;
    padding: 0;
}
/* start giving styles for nav  */
 

/* style for the name of the company as a logo */
.logo {
        font-family: "Ingrid Darling", cursive;
        font-weight: 400;
        font-style: normal;
      }
      




/* End of the style for the navigation */



/* Start the body style */





/* end of the body style */


/* start a footer  */




/* end of the footer */