*{
    margin: 0;
    padding: 0;
}
/* start giving styles for nav  */
 #nav{
    height: auto;
    margin: 0;
    padding-left: 15px;
    padding-top: 15px;
    background:#454545;
    color: white;
    padding-bottom: 15px;
 }
    

    /* name or the logo of the company */
    .logo {
        font-family: "Ingrid Darling", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 40px;
        color: #B2B6DF;
        margin-top: -15px;
     }

      /* end of the name of company  */


     /* humburger menu */
       .menu-hum{
        height: 35px;
        width: 40px;
        background: black;
        border-radius: 5px;
        border: 5px white;
     }
      .menu-hum:hover{
         height:37px;
         width:43px;
       }
        
      .hmenu-line{
        height: 2px;
        width: 30px;
        background: white !important;
        margin-top: 7px;
        margin-left: auto;
        margin-right: auto;
        
     }
     

      /* humburger menu end */


     /* style for the search and its icon  */
     #search-icon{
        background-color: azure;
        width: 40px;
        border-radius: 5px;
        padding-left: 5px;
        padding-top: 5px;
        margin-left: -15px;
     }
      
     /* end of the search and its icon */



     /* start style of the navbar menu and it's icon  */
     .navbar-menu-icon{
        height: 25px;
        margin: auto;
        margin-top: 5px;
    

     }

     .navbar-menu:hover{
        color: rgb(200, 200, 200);
    
     }


/* End of the style for the navigation */



/* Start the body style */





/* end of the body style */


/* start a footer  */




/* end of the footer */